version: 2.1
jobs:
  build:
    docker:
      - image: circleci/ruby:2.7.1
        enviroment:
          RAILS_ENV: test
          PGHOST: 127.0.0.1
          POSTGRES_USER: further_efforts
      - image: circleci/postgresql:12.3
        enviroment:
          POSTGRES_USER: further_efforts
          POSTGRES_HOST_AUTH_METHOD: trust # パスワード無しでDBにログインできる。
          POSTGRES_DB: further_efforts_test # DB名を命名
    werking_directory: ~/further_efforts
    steps:
      - checkout
      - restore_cache:
        keys:
          - v1-dependencies-{{ checksum "Gemfile.lock" }}
          - v1-dependencies-
      - run:
          name: install dependencies
          command: |
            gem install bundler -v 2.1.4
            bundle install --jobs=4 --retry=3 --path vendor/bundle
      # - run:
      #     name: bundle install
      #     command: |
      #       sudo gem update --system
      #       bundle config set path 'vender/bundle'
      #       bundle install
      - save_cache:
          key: v1-dependencies-{{ checksum "Gemfile.lock" }}
          paths:
            - ./vendor/bundle
      - run:
          name: DBの起動を待つ
          command: dockerize -wait tcp://127.0.0.1:5432 -timeout 120s
      - run: bundle exec rake db:create
      - run: bundle exec rake db:schema:load
      - run:
          name: rspecを実行
          command: bundle exec rspec