<div class="jumbotron">
  <h1 class="display-3">Futher Efforts</h1>
  <p class="lead">みんなで助け合い、社会の未来を切り開く</p>
  <hr class="my-4">
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/users/sign_in" role="button">さぁ、はじめよう！</a>
  </p>
</div>

<%= render "shares/footer" %>