<div class="follow_user_profile">
  <%= render partial: "follow_form", locals: {user: user} %>
</div>
<div class="follows_container">
  <% follow_do.each do |follow| %>
    <table class="table table-hover">
    <tr class="table-light">
      <th><%= render partial: "shares/user_avatar", locals: {user: follow} %><%= follow.name %></th>
    </tr>
  </table>
  <% end %> 
</div>