<div class ="post_f">
  <div class ="f_learning_kind">
    <p>f_learning_kind</p>
  </div>
  <div class ="f_comment">
  <p>f_comment</p>
  </div>
  <div class ="f_learning_time">
    <p>f_learning_time</p>
  </div>
  <div class ="f_sbumit">
    <p>f_sbumit</p>
  </div>
</div>
<div class="post_fotter">
  <div class="copywrite">
    <p>copywrite</p>
  </div>
</div>