<div class="post_heder">
  <div class="post_page_nation_header">
    <p>ページネーション（ヘッダー）を表示させる</p>
  </div>
  <div class="post_search">
    <p>検索一覧を表示させる</p>
  </div>
</div>
<div class="post_container">
  <div class="post_box">
    <div class="post_user_profile">
      <div class="post_user_avatar">
        <p>post_user_avatar</p>
      </div>
      <div class="post_user_name">
        <p>post_user_name</p>
      </div>
    </div>
    <div class="post_learning_kind">
      <p>learning_kind</p>
    </div>
    <div class="post_comment">
      <p>post_comment</p>
    </div>
    <div class="post_learning_time">
      <p>learning_time</p>
    </div>
    <div class="post_learning_time_total">
      <p>learning_time_total</p>
    </div>
    <div class="post_follow_btn">
      <p>follow</p>
    </div>
    <div class="post_edit_destroy_btn">
      <p>edit_destroy</p>
    </div>
    <div class="post_like_btn">
      <p>like</p>
    </div>
  </div>
</div>
<div class="post_fotter">
  <div class="page_nation_fotter">
    <p>page_nation_fotter</p>
  </div>
  <div class="copywrite">
    <p>copywrite</p>
  </div>
</div>