<div class="posts_header">
  <h1>みんなの努力の掲示板</h1>
  <h3>さぁ、あなたも投稿して応援してもらおう！</h3>
  <button type="button" onclick="location.href='/posts/new'" class="btn btn-primary btn-lg btn-block">投稿してみる</button>

  <%= render partial: 'search_container', locals: {q: @q} %>
</div>

<%= render partial: "shares/posts_box_container", locals: {posts: @posts} %>

<%= paginate(@posts) %>

<%= render "shares/footer" %>
