/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// bootstrapのスタイルシートを読み込ませる
@import "bootstrap";
@import "bootstrap/scss/bootstrap";

@import "slick-theme";
@import "slick";

body {
  font-family: 'PT Sans', sans-serif;
  background-color: #f1f1f1;
}

// ログイン画面
.container-login {
  @extend .container-fluid;
  max-width: 576px;
  padding: 2rem;
}

// ログインしましたなどのフラッシュ用スタイル
.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}

// フォントを黒にしてアンダーバーを消す
.font_brack {
  color: black;
}

// ナビバー
.navbar-right {
  float: right !important;
}

// ボタンの下線を消す
.btn-decoration {
  text-decoration: none;
}

.action-btn {
  color: blue($color: #698ab6);
  font-size: 20px;
}

.avatar_image_70 {
  width: 70px;
  height: 70px;
  border-radius: 5px;
}
.avatar_image_200 {
  width: 250px;
  height: 250px;
  border-radius: 5px;
}

// ページネーション
.pagination {
  justify-content: center;
}

// フッター
footer {
  text-align: center;
}