.forms {
  width: 50%;
  margin: 10px auto;
  padding: 10px 50px;
}

// 見出し
.forms h2 {
  text-align: center;
  margin: 20px 0;
}

// フィールド
input {
  width: 100%;
}

.actions {
  text-align: center;
  margin: 20px 0;
}

.btn-primary {
  width: 50%;
}