@media screen and (max-width:480px) {
  // 画面幅が480pxまでの時
  .forms {
    width: 100% !important;
  }
}

.forms {
  width: 50%;
  margin: 10px auto;
  padding: 10px 50px;
  .text_field {
    padding: 6px 12px;
    font-size: 20px;
    font-weight: 400;
    border: 1px solid rgb(90, 90, 90);
    border-radius: 5px;
  }
}

// 見出し
.forms h2 {
  text-align: center;
  margin: 20px 0;
}

// フィールド
input {
  width: 100%;
}

.actions {
  text-align: center;
  margin: 20px 0;
}

.btn-primary {
  width: 50%;
}
