.follow_user_profile {
  width: 50%;
  margin: 10px auto;
  text-align: center;
  span {
    font-size: 30px;
  }
  p {
    margin-top: 10px;
    font-size: 20px;
  }
}

.follows_container {
  width: 50%;
  margin: 10px auto;
  .table-light {
    border: solid 1px black;
    border-top: solid 1px black;
  }
}