.posts_boxs_container {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  text-align: center;

  .post_do_user_profile {
    height: 80px;
    padding-left: 20px;
    ul {
      li{
        float: left;
      }
    }

    .post_user_avatar {
      width: 70px;
      height: 70px;
      padding: 5px 0 0 5px;
    }
  }

  .posts_boxs_fream {
    width: 50%;
  
    .post_box {
      height: 365px;
      border: solid 1px black;
      border-radius: 10px;
      a:link, a:visited, a:hover, a:active {
        color: black;
        text-decoration: none;
      }
  
      ul {
        padding-left: 0;
        list-style: none;
      }
  
      .details_during_learning {
        li {
          border-bottom: solid 0.5px;
          border-color: rgba(44, 44, 44, 5);
        }
      }

      label {
        font-size: small;
        margin-bottom: 0;
        color: rgb(44, 44, 44);
      }
  
      .label_adjustment {
        padding-right: 85px;
      }
    }

    .edit_and_destroy {
      float: left;
    }

    .like_btn {
      float: right;
      position: static;
    }

    .created_at {
      position: relative;
      top: 30px;
      left: 45px;
      float: right;
      p {
        font-size: 8px;
        margin-bottom: 0;
      }
    }
    
  }
  
  .btn {
    position: relative;
    display: block;
    width: 250px;
    margin: 20px auto;
    padding: 10px;
    
    background-color: #eeeded;
    border: 1px solid #eeeded;
  
    color: #000;
    text-align: center;
    text-decoration: none;
    
    transform-style: flat;
    transition: all 250ms ease-out;
    
    &:before,
    &:after {
        content: "";
        position: absolute;
        z-index: -2;
          transition: all 250ms ease-out;
    }
  }
  .paper-raise {
    &:before {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    &:hover {
      border: 1px solid #eeeded;
      
      &:before {
        box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5);
      }
    }
  }
   .cont_select_center {
    position: absolute;
    left: 50%;
    top:50%;
    margin-top: -30px;
    margin-left: -150px;
  }
  .icon_select_mate {
    position: absolute;
    top:20px;
    right: 2%;
    font-size: 16px;
      height: 22px;
    transition: all 275ms;
  }
  
  .select_mate {
    position: relative;
    float: left;
    min-width: 300px;
    width: 300px;
    min-height: 30px;
    font-family: 'Roboto';
    color: #777;
    font-weight: 300;
    background-color: #fff;
    box-shadow: 1px 2px 10px -2px rgba(0,0,0,0.3);
    border-radius: 3px;
    transition: all 375ms ease-in-out;
    select {
    position: absolute;
    overflow: hidden;
    height: 0px;
    opacity: 0;  
      z-index: -1;
    }
  }
  
  .cont_list_select_mate {
    position: relative;
    float: left;
    width: 100%;
  }
  
  .cont_select_int {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 999;
    overflow: hidden;
    height: 0px;
    width: 100%;
    background-color: #fff;
    padding: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    border-radius: 0px 0px 3px 3px;
    box-shadow: 1px 4px 10px -2px rgba(0, 0, 0, 0.2);
    transition: all 375ms ease-in-out;

    li {
      position: relative;
      float: left;
      width: 96%;
      border-bottom:1px solid #E0E0E0;
      background-color: #F5F5F5;
      list-style-type: none;
      padding: 10px 2%;
      margin: 0px;  
      transition: all 275ms ease-in-out;
      display: block;
      cursor:pointer;

      &:last-child {
        border-radius: 3px;
        border-bottom:0px; 
      }

      &:hover {
        background-color: #EEEEEE;
      } 
    }

    .active {
      background-color: #EEEEEE;
    }
  }

  .selecionado_opcion {
    padding: 20px 2%;
    width: 96%;
    display: block;
    margin: 0px;
    cursor: pointer;
  }
}