@media screen and (max-width:480px) {
  // 画面幅が480pxまでの時
  .post_form_container {
    width: 90% !important;
  }
}

.post_form_container {
  width: 50%;
  margin: 0 auto;
  padding-top: 30px;

  .sbumit {
    text-align: center;
  }
  
  .time {
    width: 70px;
  }
}