@media screen and (max-width:480px) {
  // 画面幅が480pxまでの時
  .posts_show_container {
    width: 95% !important;

    .card {
      width: 95% !important;

      .card-texts {
        font-size: 15px;
      }

      .card-title {
        font-size: 25px;
      }
    }

    .post_edit_and_destroy {
      width: 95% !important;
    }

    .post_liked_users {
      width: 95% !important;
    }

    .comments_container {
      width: 95%;
    }
  }
}

.posts_show_container {
  width: 70%;
  margin: 10px auto;

  .posts_show_user {
    text-align: center;

    .link_reset {
      color: #445e80;
    }
  }

  .card {
    width: 60%;
    margin: 10px auto;

    .card-header {
      text-align: center;
    }

    .card-body-colum {
      width: 70%;
      margin: 10px auto;
      border-bottom: solid 1px #6c757d;
    }
  }

  .edit_and_destroy {
    width: 60%;
    margin: 0 auto;
  }
}

.likes_container {
  width: 60%;
  margin: 10px auto;
  .like_btns {
    text-align: center;
    .btn {
      margin: 0;
    }
  }
  h4 {
    margin-top: 10px;
  }
  .liked_users {
    margin: 5px;
  }
}

.comments_container {
  width: 60%;
  margin: 0 auto;
  .comment_form {
    text-align: center;
    .btn {
      margin: 0;
    }
  }
  tr {
    border-top: rgb(133, 144, 173);
    border-radius: 15px;
  }
  .commented_users {
    margin: 10px 0;
  }
}