@media screen and (max-width:480px) {
  // 画面幅が480pxまでの時
  .post_f {
    width: 90% !important;
  }
}

.post_f {
  width: 50%;
  margin: 0 auto;
  padding-top: 30px;

  .f_sbumit {
    text-align: center;
  }
  
  .time {
    width: 70px;
  }
}

.post_field {
  margin-bottom: 20px;
  font-size: 20px;
}