@media screen and (max-width:480px) {
  // 画面幅が480pxまでの時
  .post_show_container {
    width: 95% !important;
    .card {
      width: 95% !important;
      .card-texts {
        font-size: 15px;
      }
      .card-title {
        font-size: 25px;
      }
    }
    .post_edit_and_destroy {
      width: 95% !important;
    }
    .post_liked_users {
      width: 95% !important;
    }
    .post_comments {
      width: 95%;
    }
  }
}

.post_show_container {
  width: 70%;
  margin: 10px auto;
  .post_show_user {
    text-align: center;
    .link_reset {
      color: #445e80;
    }
  }
  .card {
    width: 60%;
    margin: 10px auto;
    .card-header {
      text-align: center;
    }
    .card-body-colum {
      width: 70%;
      margin: 10px auto;
      border-bottom: solid 1px #6c757d;
    }
  }
  .post_edit_and_destroy {
    width: 60%;
    margin: 0 auto;
    .btn-decoration {
      color: #445e80;
      text-decoration: none;
    }
  }
  .border {
    border-bottom: solid 1px #446E9B !important;
  }
}

.post_liked_users {
  width: 60%;
  margin: 10px auto;
  .show_like_btn {
    text-align: center;
    .btn {
      margin: 0;
    }
  }
  h4 {
    margin-top: 10px;
  }
  .show_like_users {
    margin: 3px;
  }
}
.post_comments {
  width: 60%;
  margin: 0 auto;
  .comment_post {
    text-align: center;
    .btn {
      margin: 0;
    }
  }
  tr {
    border-top: rgb(133, 144, 173);
    border-radius: 15px;
  }
  .commented {
    margin: 10px 0;
  }
}