@media screen and (max-width:480px) {
  .posts_header {
    width: 90% !important;

    .post_search {
      padding: 0 !important;
      margin: 0 !important;
      height: 120px !important;

      ul {
        padding-left: 0 !important;
      }

      li {
        float: none !important;
        margin: 10px 0 !important;
      }
    }
  }

  .posts_boxs_container {
    .posts_boxs_fream {
      width: 90%;
    }
  }
}

@media screen and (max-width:780px) {
  .posts_header {
    width: 80% !important;

    .post_search {
      padding: 0 !important;
      margin: 0 !important;
      height: 120px !important;

      ul {
        padding-left: 0 !important;
      }

      li {
        float: none !important;
        margin: 10px 0 !important;
      }
    }
  }
}

.posts_header {
  width: 50%;
  margin: 10px auto;
  text-align: center;

  .post_search{
    height: 60px;
    padding: 20px 0 0 100px;
  
    .btn {
      width: 70px;
      margin: 0;
    }
  
    ul {
      list-style: none;
  
      li {
        margin: 0 10px;
        float: left;
      }
    }
  }
}
