// Place all the styles related to the tops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@media screen and (max-width:480px) {
  .top_container {
    p {
      font-size: 13px;
    }

    .btn {
      width: 80%;
    }
  }

  .top_title {
    position: static;

    span {
      display: none;
    }
  }
}

@media screen and (max-width:780px) {
  .top_title {    
    span {
      display: none;
    }
  }
}

.top_container{
  position: relative;

  .top_title {
    position: absolute;
    color: #446E9B;
    text-align: center;
    top: 15%;
    left: 18%;
    font-size: 50px;
    p {
      font-size: 100px;
    }
  }

  .btn {
    margin-bottom: 10px !important;
  }
}

.slides {
  width: 100%;
}

.slide_img {
  width: 100%;
  height: 500px;
  margin: 0 auto;
  opacity: 0.5;
  filter: blur(2px)
}

.jumbotron {
  text-align: center;
}
