// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@media screen and (max-width:480px) {
  // 画面幅が480pxまでの時
  .avatar_image_200 {
    width: 150px !important;
    height: 150px !important;
  }
  .user_name {
    .edit_btn {
      position: static !important;
    }
  }
  .tab_content {
    padding: 0 !important;
  }
  .learning-profile {
    width: 90%;
    .card-texts {
      font-size: 15px;
    }
  }
  .card-header {
    text-align: center;
  }
  .user_posts {
    .post_box_fream {
      width: 90%;
    }
  }
  .follows_container {
    width: 100%;
  }
}

@media screen and (max-width:780px) {
  .user_name {
    .edit_btn {
      position: static !important;
    }
  }
  .learning-profile {
    width: 90%;
    .card-texts {
      font-size: 15px;
    }
  }
  .user_posts {
    .post_box_fream {
      width: 70%;
      margin: 0 auto !important;
    }
  }
}

.user_profile {
  width: 70%;
  display: block;
  margin: 20px auto;
  text-align: center;
  .user_name {
    position: relative;
    .edit_btn {
      position: absolute;
      top: 15px;
      right: 300px;
      color: rgb(170, 170, 170);
    }
  }
  .user_follow {
    margin: 5px 0;
    span {
      margin-left: 5px;
      font-size: 20px;
    }
  }
  .user_posts {
    text-align: center;
  }
}

.learning-profile {
  width: 50%;
  margin: 15px auto 0 auto;
  .card-body-colum {
    width: 80%;
    border-bottom: solid 1px black;
    margin: 0 auto 6px auto;
    .card-header h3 {
      text-align: left;
      padding-left: 50px;
    }
    .card-text {
      padding-left: 40px;
      text-align: left;
      margin-bottom: 0;
    }  
  }
}
/*タブ切り替え全体のスタイル*/
.tabs {
  margin-top: 50px;
  padding-bottom: 40px;
  background-color: #f1f1f1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 95%;
  margin: 0 auto;}

/*タブのスタイル*/
.tab_item {
  width: calc(100%/4);
  height: 50px;
  border-bottom: 3px solid #2580B3;
  background-color: #d9d9d9;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  color: #535353;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}
.tab_item:hover {
  opacity: 0.75;
}

/*ラジオボタンを全て消す*/
input[name="tab_item"] {
  display: none;
}

/*タブ切り替えの中身のスタイル*/
.tab_content {
  display: none;
  padding: 40px 40px 0;
  clear: both;
  overflow: hidden;
}


/*選択されているタブのコンテンツのみを表示*/
#user_learning:checked ~ #user_learning_content,
#user_posted:checked ~ #user_posted_content,
#user_following:checked ~ #user_following_content,
#user_follower:checked ~ #user_follower_content {
  display: block;
}

/*選択されているタブのスタイルを変える*/
.tabs input:checked + .tab_item {
  background: radial-gradient(#CBBACC, #2580B3);
  color: rgb(231, 231, 231);
  text-shadow: 1px 1px 2px rgb(61, 61, 61);
}

.card {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  .card-texts {
    margin-bottom: 0;
  }
  .card-title {
    text-align: center;
  }
}
