@media screen and (max-width:480px) {
  .week_ranking_container {
    width: 95%;
    .posts_boxs_fream {
      width: 100%;
    }
  }
}

.ranking {
  margin-top: 20px;
  height: 80px;
  font-size: 40px;
  font-weight: 500;
}

.week_ranking_container {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  text-align: center;

  .post_box {
    height: 300px;

    .post_do_user_profile {
      margin-bottom: 15px;
    }
    .box_field {
      margin-bottom: 5px;
      border-bottom: solid 0.5px;
      border-color: rgba(44, 44, 44, 5);

      label {
        margin-bottom: 0;
        font-size: large;
      }

      span {
        font-size: 30px;
        color: #445e80;
      }
    }
  }
}